.Holidays {
  padding: 0 30px;
}

.Holidays .holidayCardContainer {
  background: rgb(159, 187, 234);
  border-radius: 30px;
  
}

.Holidays .holidayCard {
  padding: 25px 0 20px;
}

.Holidays h3 {
  color: ghostwhite;
}